
.box-button {
    padding: 60px 29px 60px 29px;
    font-size: 70px;
    box-shadow:  10px 10px 19px #1c1e22, -10px -10px 19px #262a2e;
    transition: 0.4s;
}

.box-button:hover {
    color: var(--primary-color);
    font-weight: 700;
    transform: translateY(-5px);
    background: linear-gradient(to right bottom, #202123, #1a1818);
}

.box-button:active {
    text-decoration: none;
    outline: none;
    color: var(--primary-color-darker);
}

.quickSell-container {
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  }