<mat-toolbar fxLayout="row" fxLayoutAlign="space-between center" class="lighter-toolbar">
    <div>Discover the Unparalleled Ease of One-Click Sales</div>
    <a type="button" routerLink="../sell" mat-button mat-raised-button>List</a>
</mat-toolbar>
<mat-card>
    <mat-card-content>
        <h2>"Welcome to our Quick Sales page! We've simplified selling your favorite products for your utmost
            convenience."</h2>
    </mat-card-content>
</mat-card>
<mat-card>
    <mat-card-content>
        <div class="quickSell-container">
            <!-- <h1>Experience the ultimate convenience of One-Click Selling</h1> -->
            <!-- <p>Welcome to our Quick Sell page! We've made selling your favorite products faster and more convenient than
                ever.
            </p> -->
            <div fxLayout="row wrap" fxLayoutGap="10px grid">
                <div *ngFor="let value of setting?.unitPrices">
                    <a type="button" class="box-button" (click)="saveSell(value)" mat-button mat-raised-button>{{ value
                        }}</a>
                </div>
            </div>
        </div>
    </mat-card-content>
</mat-card>



<mat-card>
    <mat-card-content>
        <div class="quickSell-container">
            <p>If you prefer a custom sell, simply enter
                your desired quantity and hit 'sell' – it's that easy!</p>
            <div fxLayout="row wrap" fxLayoutGap="10px grid" fxLayoutAlign=" center">
                <div fxFlex="50%" fxFlex.xs="70%" *ngFor="let sellItemForm of sellItemForms">
                    <app-input [form]="sellItemForm" label="Unit Price" name="unitPrice"></app-input>
                </div>
                <div>
                    <button mat-raised-button color="primary" (click)="saveSelld()">
                        <mat-icon>sell</mat-icon>Sell</button>
                </div>

            </div>
        </div>
    </mat-card-content>
</mat-card>