<mat-toolbar>
  <button class="flex-grow-0 transparent-button" type="button" aria-label="Toggle sidenav" mat-icon-button
    (click)="drawer.toggle()" (click)="toggleDrawer()">
    <!-- *ngIf="isHandset$ | async" -->
    <mat-icon aria-label="Side nav toggle icon" *ngIf="!isDrawerOpen">menu_open</mat-icon>
    <mat-icon aria-label="Side nav toggle icon" *ngIf="isDrawerOpen">menu</mat-icon>
  </button>
  <app-top-bar class="flex-grow-1"></app-top-bar>
</mat-toolbar>

<mat-drawer-container class="app-container">
  <mat-drawer #drawer class="app-sidenav" [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="(isHandset$ | async) === false">
    <mat-nav-list class="erp-nav-list">
      <ng-container *ngFor="let item of paths; let i = index">
        <div fxShow fxHide.xs>
          <a mat-list-item [routerLink]="item.path" [routerLinkActive]="['active']">
            {{ item.label }}
          </a>
        </div>
        <div fxShow.gt-sm="false" fxShow.gt-md="false" fxShow.gt-xs="false" fxShow="true">
          <a mat-list-item [routerLink]="item.path" [routerLinkActive]="['active']" (click)="drawer.toggle()">
            {{ item.label }}
          </a>
        </div>
        <!-- Add a divider after the "Customers" link -->
        <mat-divider *ngIf="item.path === 'report' && i !== paths.length - 1"></mat-divider>
        <mat-divider *ngIf="item.path === 'product-inventory' && i !== paths.length - 1"></mat-divider>
        <mat-divider *ngIf="item.path === 'customer-wallet' && i !== paths.length - 1"></mat-divider>
        <mat-divider *ngIf="item.path === 'sell/new' && i !== paths.length - 1"></mat-divider>
      </ng-container>
    </mat-nav-list>

  </mat-drawer>

  <div class="app-sidenav-content">

    <app-page-title-bar></app-page-title-bar>

    <router-outlet></router-outlet>
  </div>

</mat-drawer-container>