// .sidenav-container {
//   height: 100%;
// }

.app-container{
  height: calc(100vh - 64px);
}

@media (max-width: 599px){
  .app-container {
    height: calc(100vh - 56px);
  }
}

.app-sidenav {
  width: 260px;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 11;
}

.mat-list-item.active {
  background: rgba(0, 0, 0, 0.04);
}

.erp-nav-list  {
  padding-top: 0px;
}

.transparent-button {
  background-color: transparent;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s; 

  &:hover {
    background-color: rgba(255, 255, 255, 0.1); 
  }

  &:active {
    background-color: rgba(255, 255, 255, 0.2); 
  }
}

.transparent-button mat-icon {
  color: white; /* Set the icon color to white */
  font-size: 28px;
}
