.dialog-content {
  color: rgb(173, 24, 24);
}

.primary {
  background-color: #1976d2 !important;
  /* Primary color */
}

.accent {
  background-color: #ff9800 !important;
  /* Accent color */
}

.warn {
  background-color: #f44336 !important;
  /* Warn color */
}

.disable {
  background-color: #9e9e9e !important;
  /* Disable color */
}

.link {
  background-color: #2196f3;
  /* Link color */
}

.small-text {
  font-size: 12px;
  /* Adjust the size as needed */
}

@media (max-width: 486px) {
  .mdc-dialog__actions {
    gap: 10px;
  }
}

.test {
  color: #2196f3 !important;
  background: #212224 !important;

}