.dialog-content {
    color: rgb(173, 24, 24);
  }
  
  .primary {
    background-color: #1976d2; /* Primary color */
  }
  
  .accent {
    background-color: #ff9800; /* Accent color */
  }
  
  .warn {
    background-color: #f44336; /* Warn color */
  }
  
  .disable {
    background-color: #9e9e9e; /* Disable color */
  }
  
  .link {
    background-color: #2196f3; /* Link color */
  }
  