<mat-card>
    <mat-card-content>
        <h1>Experience the ultimate convenience of One-Click Ordering</h1>
        <p>Welcome to our Quick Order page! We've made ordering your favorite products faster and more convenient than
            ever.
        </p>

        <div fxLayout="row wrap" fxLayoutGap="10px grid">
            <div *ngFor="let value of setting?.unitPrices">
                <a type="button" class="box-button" (click)="saveOrder(value)" mat-button mat-raised-button>{{ value }}</a>
            </div>
        </div>

        <h3>If you prefer a custom order, simply enter
            your desired quantity and hit 'order' – it's that easy!</h3>
            <div fxLayout="row wrap" fxLayoutGap="10px grid" >
                <div fxFlex="50%" fxFlex.xs="70%" *ngFor="let orderItemForm of orderItemForms">
                    <app-input [form]="orderItemForm" 
                        label="Unit Price" name="unitPrice"></app-input>
                </div >
                <div >
                    <a type="button" (click)="saveOrderd()" mat-button mat-raised-button>order</a>
                </div>
            
            </div>
    </mat-card-content>
</mat-card>

