<mat-card>
    <mat-card-content>
    <h1>One-Click Ordering</h1>
    <p>Welcome to our Quick Order page! We've made ordering your favorite products faster and more convenient than ever.
    </p>
    <div class="res">
        <a type="button" class="box" mat-button mat-raised-button>15</a>
        <a type="button" class="box" mat-button mat-raised-button>15</a>
        <a type="button" class="box" mat-button mat-raised-button>15</a>
        <a type="button" class="box" mat-button mat-raised-button>15</a>

    </div>
</mat-card-content>
</mat-card>

<!-- <div class="res" *ngFor="let value of values">
    <a type="button" class="box" (click)="saveOrder()" mat-button mat-raised-button>{{ value }}</a>

</div> -->