.div-container {
    padding: 20px;
    border-radius: 5px;
    margin: 20px 0px 20px 0px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.margin{
    padding: 20px;
    border-radius: 5px;
    margin: 20px 0px 0px 0px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}