.radio-label {
  padding-right: 16px;
  display: inline-block;
  margin: 10px 0;
}

.radio-icon {
  font-size: 21px !important;
}

.adjust-position {
  margin-top: 1.1em;
}

.radio-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}