<!-- <div class="mat-form-field mat-primary mat-form-field-type-mat-input mat-form-field-appearance-legacy mat-form-field-can-float mat-form-field-hide-placeholder mat-form-field-should-float mat-form-field-disabled">
  <div class="mat-form-field-wrapper">
    <div class="mat-form-field-flex">
      <div class="mat-form-field-infix"><input class="mat-input-element" type="text" [placeholder]="label" [value]="value"
          disabled="">
        <span class="mat-form-field-label-wrapper">
          <label class="mat-form-field-label">
            {{label}}
          </label></span>
      </div>
    </div>
    <div class="mat-form-field-underline"><span class="mat-form-field-ripple"></span></div>
  </div>
</div> -->

<div _ngcontent-c12="" class="mat-form-field ng-tns-c13-1 mat-primary mat-form-field-type-mat-input mat-form-field-appearance-legacy mat-form-field-can-float mat-form-field-hide-placeholder ng-untouched ng-pristine mat-form-field-should-float mat-form-field-disabled" ng-reflect-hide-required-marker="true"><div class="mat-form-field-wrapper"><div class="mat-form-field-flex">
    <div class="mat-form-field-infix">
      <input [value]="value" _ngcontent-c12="" class="mat-input-element mat-form-field-autofill-control cdk-text-field-autofill-monitored ng-untouched ng-pristine" matinput="" ng-reflect-required="false" ng-reflect-is-disabled="true" ng-reflect-model="6" type="text" ng-reflect-disabled="true" ng-reflect-placeholder="Id" ng-reflect-type="text" id="mat-input-0" placeholder="Id" aria-invalid="false" aria-required="false" disabled=""><span class="mat-form-field-label-wrapper"><label class="mat-form-field-label ng-tns-c13-1 ng-star-inserted" ng-reflect-ng-switch="false" id="mat-form-field-label-1" for="mat-input-0" aria-owns="mat-input-0">

    {{label}}

    </label></span></div>
    </div>
    <div class="mat-form-field-underline ng-tns-c13-1 ng-star-inserted"><span class="mat-form-field-ripple"></span></div><div class="mat-form-field-subscript-wrapper" ng-reflect-ng-switch="hint">
    <div class="mat-form-field-hint-wrapper ng-tns-c13-1 ng-trigger ng-trigger-transitionMessages ng-star-inserted" style="opacity: 1; transform: translateY(0%);">
    <div class="mat-form-field-hint-spacer"></div></div></div></div></div>
