.example-spacer {
  flex: 1 1 auto;
}

.bottom-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
  /* Add margin to separate from the content above */
}

.total-amount-square {
  width: 150px;
  height: 60px;
  background-color: var(--primary);
  color: white;
  text-align: center;
  font-size: 18px;
  line-height: 1.5;
  // border-radius: 8px;
  overflow: hidden;
}

.form-container {
  width: 100%;
  overflow: hidden;
}

.form-row {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  /* Adjust as needed */
  margin-bottom: 10px;
}

.app-select {
  flex: 0 0 calc(50% - 10px);
  margin-bottom: 10px;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 16px;
  /* Adjust the gap as needed */
  
}

.row {
  display: flex;
  justify-content: space-between;
  gap: 16px;
  /* Adjust the gap as needed */
}

.item {
  flex: 1;
  min-width: 0;
  /* Ensure flex items can shrink properly */
}

// .serialNo{
//   margin-right: 5px !important;
//   transform: translateY(20%);
// }

/* Media query for screens with width up to 700px */
@media (max-width: 700px) {
  .form-row {
    flex-direction: column;
    gap: 2px;
  }

  .app-select {
    flex: 1 0 auto;
    width: 100%;
  }
}

/* Media query for screens with width up to 700px */
@media (max-width: 700px) {
  .container {
    flex-direction: column;
  }

  .row {
    display: flex;
    flex-direction: row;
    gap: 16px;
    width: 100%;
  }

  .item {
    flex: 1;
    min-width: 0;
  }

  .product-section {
    flex-direction: row;
    gap: 16px;
  }

  .app-select,
  .app-input {
    flex: 1;
    width: auto;
  }

}

@media (max-width: 700px) {

  .button-row,
  .totals-row {
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .total-amount-square {
    width: 33%;
    height: 80px;
  }
  .container{
    border-bottom: 1px solid #ccc; /* Adjust the border style as needed */
    margin-bottom: 10px; /* Adjust the margin as needed to control the spacing between items */
    padding-bottom: 10px; 
   
  }

}

@media (min-width: 701px) {
  .button-row {
    margin-top: 10px;
    display: flex;
    align-items: center;
    gap: 10px;
  }

  .totals-row {
    margin-top: 10px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
 
}

@media (min-width: 1263px) {
  .container {
    display: flex;
    flex-direction: row;
    gap: 16px;
  }

  .row {
    width: 45%;
    /* Each row takes up the full width */
  }

  .item {
    flex: 1;
    /* Each item takes equal space within the row */
    min-width: 0;
    /* Allow items to shrink if needed */
  }
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; 
}


