/* view-sell.component.css */
.sell-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background-color: var(--primary);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.sell-header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.sell-id {
  font-size: 16px;
  color: #666;
}

.sell-summary {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  padding: 0 20px;
  box-sizing: bsell-box;
}

.customer-info {
  flex: 2;
}

.status {
  flex: 1;
  text-align: right;
}

.product-list {
  width: 100%;
  margin-top: 30px;
}

.product-table {
  width: 100%;
  bsell-collapse: collapse;
  margin-top: 10px;
}

.product-table th, .product-table td {
  padding: 10px;
  text-align: left;
  bsell-bottom: 1px solid var(--grey-700);
}

.total {
  width: 100%;
  margin-top: 20px;
  text-align: right;
  font-size: 18px;
  font-weight: bold;
  color: var(--grey-50);
  padding: 0 20px;
  box-sizing: bsell-box;
}

/* Adjust the .sell-details container for screens below 768px */
@media (max-width: 768px) {
  /* Mobile-friendly styling */
.sell-details {
  padding: 10px;
}

.sell-summary {
  flex-direction: column;
  align-items: flex-start;
  margin-top: 10px;
  padding: 0;
}

.customer-info, .status {
  flex: none;
  width: 100%;
  text-align: center;
}

.product-list {
  margin-top: 15px;
}

.total {
  font-size: 16px;
}

/* Adjust margins and paddings for better spacing on mobile */
.sell-summary p, .product-table th, .product-table td, .total p {
  margin: 5px 0;
  padding: 5px;
}

}




