<mat-toolbar fxLayout="row" fxLayoutAlign="space-between center" class="lighter-toolbar">
    <div>Take Order</div>
    <a type="button" routerLink="./new" mat-button mat-raised-button>List</a>
</mat-toolbar>
<mat-card>
    <mat-card-content>
        <div>
            <irs-date [form]="form" name="orderDate" label="Order Date"></irs-date>

            <div fxLayout="row" fxLayoutAlign="space-evenly center">
                <app-select [form]="form" name="customerId" label="Select a customer" [options]="customers"
                    optTextLabel="customerName" optValueLabel="customerId" [hide]="false"
                    (onSelectionChange)="handleCustomerSelection($event)"></app-select>

                <app-select [form]="form" name="status" label="Select Status" [options]="statusOption"
                    optTextLabel="label" optValueLabel="value"></app-select>
            </div>

            <div>

                <div *ngFor="let orderItemForm of orderItemForms;  let i = index" fxLayoutAlign="space-between center">
                    <app-select [form]="orderItemForm" name="productId" label="Select a Product" [options]="products"
                        optTextLabel="productName" optValueLabel="productId" [hide]="false"
                        (onSelectionChange)="handleProductSelection($event, orderItemForm)"></app-select>
                    <app-input [form]="orderItemForm" label="Quantity" name="quantity"></app-input>

                    <app-input [form]="orderItemForm" label="UnitPrice" name="unitPrice"></app-input>

                    <irs-input-template [model]="orderItemForm.value" [bindingPropertyName]="'subtotal'"
                        [label]="'Subtotal'" [viewOnly]="true">
                    </irs-input-template>

                    <button mat-fab color="basic" aria-label="Example icon button with a delete icon"
                        (click)="deleteItem(i)">
                        <mat-icon>delete</mat-icon>
                    </button>
                </div>
            </div>
            <a type="button" (click)="addItem()" mat-button mat-raised-button>+ Add item</a>

            <div fxLayout="row" fxLayoutAlign="space-between center" class="bottom-row">
                <div>
                    <a type="button" (click)="saveOrder()" mat-button mat-raised-button>Submit</a>
                </div>
                <div class="total-amount-square">
                    Total Amount<br>
                    {{ calculateTotalAmount() | currency:'INR':'symbol':'1.2-2' }}
                </div>
            </div>

            <!-- {{form.value | json}}
            <div *ngFor="let orderItemForm of orderItemForms">
                {{orderItemForm.value | json}}
            </div> -->
        </div>
    </mat-card-content>
</mat-card>