<mat-toolbar fxLayout="row" fxLayoutAlign="space-between center" class="lighter-toolbar">
    <div>Take Order</div>
    <a type="button" routerLink="../" mat-button mat-raised-button>List</a>
</mat-toolbar>
<mat-card>
    <mat-card-content>
        <h3>Customize Your Order Section to Suit Your Preferences via Settings.</h3>
        <div>
            <irs-date [form]="form" name="orderDate" label="Order Date"></irs-date>

            <div class="form-container">
                <div class="form-row">
                    <div *ngIf="setting?.manageCustomer">
                        <app-select [form]=" form" name="customerId" label="Select a Customer" [options]="customers"
                            optTextLabel="customerName" optValueLabel="customerId"
                            (onSelectionChange)="handleCustomerSelection($event)"></app-select>
                    </div>

                    <div *ngIf="setting?.manageOrderStatus">
                        <app-select [form]="form" name="status" label="Select Status" [options]="statusOption"
                            optTextLabel="label" optValueLabel="value"></app-select>
                    </div>
                </div>
            </div>


            <div class="container" *ngFor="let orderItemForm of orderItemForms;  let i = index">
                <div class="row product-section" *ngIf="setting?.manageProduct">
                    <div class="item">
                        <app-select [form]="orderItemForm" name="productId" label="Select a Product"
                            [options]="products" optTextLabel="productName" optValueLabel="productId"
                            (onSelectionChange)="handleProductSelection($event, orderItemForm)"></app-select>
                    </div>
                </div>
                <div class="row">
                    <div class="item">
                        <app-input [form]="orderItemForm" (onValueChange)="updateSubtotal(orderItemForm)"
                            label="Unit Price" name="unitPrice"></app-input>
                    </div>
                    <div class="item">
                        <app-input [form]="orderItemForm" (onValueChange)="updateSubtotal(orderItemForm)"
                            label="Quantity" name="quantity"></app-input>
                    </div>
                    <div class="item" *ngIf="setting?.manageDiscount">
                        <app-input [form]="orderItemForm" (onValueChange)="updateSubtotal(orderItemForm)"
                            label="Discount" name="discount"></app-input>
                    </div>
                </div>
                <div class="row">

                    <div class="item">
                        <irs-input-template [model]="orderItemForm.value" [bindingPropertyName]="'subtotal'"
                            [label]="'Subtotal'" [viewOnly]="true">
                        </irs-input-template>
                    </div>
                    <div class="item">
                        <button mat-fab color="basic" aria-label="Example icon button with a delete icon"
                            (click)="deleteItem(i)">
                            <mat-icon>delete</mat-icon>
                        </button>
                    </div>
                </div>
            </div>

            <a type="button" (click)="addItem()" mat-button mat-raised-button>+ Add item</a>

            <div class="totals-row">
                <div class="total-amount-square">
                    Gross Amount<br>
                    {{ calculateGrossAmount() | currency:'INR':'symbol':'1.2-2' }}
                </div>
                <div class="total-amount-square" *ngIf="setting?.manageDiscount">
                    Total Discount<br>
                    {{ calculateTotalDiscount() | currency:'INR':'symbol':'1.2-2' }}
                </div>
                <div class="total-amount-square">
                    Net Amount<br>
                    {{ calculateNetAmount() | currency:'INR':'symbol':'1.2-2' }}
                </div>
            </div>
            <div class="button-row">
                <a type="button" (click)="saveOrder()" mat-button mat-raised-button>Save</a>
                <a type="button" (click)="saveOrderPrint()" mat-button mat-raised-button>Save and print</a>
            </div>

        </div>
    </mat-card-content>
</mat-card>