<mat-toolbar fxLayout="row" fxLayoutAlign="space-between center" class="lighter-toolbar">
    <div>{{isEdit ? 'Update' : 'Add'}} Product</div>
    <a type="button" routerLink="../" mat-button mat-raised-button *ngIf="!(data?.isDialog === true)">List</a>
</mat-toolbar>

<mat-card>
    <mat-card-content>
        <div *ngIf="form">
            <div>

                <app-input [form]="form" name="productName"></app-input>
                <app-input [form]="form" name="description"></app-input>
                <app-input [form]="form" name="price"></app-input>
                <!-- <app-input [form]="form" name="Image Url"></app-input>
                <app-input [form]="form" name="Category"></app-input> -->
                <app-radio [form]="form" name="isInventory" label="Stock Management?"
                    [options]="[{Text: 'Yes', Value: true}, {Text: 'No', Value: false}]"></app-radio>

                <app-input *ngIf="form.value.isInventory" [form]="inventoryForm" name="count"></app-input>

                <app-radio [form]="form" name="isActive" label="Active ?"
                    [options]="[{Text: 'Yes', Value: true}, {Text: 'No', Value: false}]"></app-radio>

                <button mat-button mat-raised-button color="primary" (click)="saveProduct(false)">Save</button>
                <button type="button" class="ml-8" mat-button mat-raised-button color="primary" *ngIf="!isEdit"
                    (click)="saveProduct(true)">Save & Add more</button>

            </div>
        </div>
    </mat-card-content>
</mat-card>