.primary-color {
    color: var(--primary-color);
}

.accent-color {
    color: var(--accent-color);
}

.warn-color {
    color: var(--accent-color);
}

.warn-color {
    color: var(--accent-color);
}

.primary-color-darker {
    color: var(--primary-color-darker);
}

.primary-color-lighter {
    color: var(--primary-color-lighter);
}

.primary-color-text {
    color: var(--primary-color-text);
}
