.letter-box {
  display: inline-block;

  .letter-only {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    background-color: var(--grey-100);
    border-radius: var(--border-letter-radius);
    border: 1px solid var(--primary-color);
    color: var(--primary-color);
    vertical-align: middle;
    text-align: center;

    min-width: calc((100vw - (70px)) / 5);
    min-height: 45px;

    .main-letter {
      font-size: 45px;
    }

    @media (min-width: 376px) and (max-width: 425.9px) {
      .main-letter {
        font-size: 45px;
      }
    }

    @media (min-width: 426px) and (max-width: 599.9px) {
      .main-letter {
        font-size: 50px;
      }
    }

    @media (min-width: 600px) {
      min-width: 70px;
      min-height: 70px;
      padding: 5px 15px;

      .main-letter {
        font-size: 65px;
      }
    }
  }
}

.letter-box {
  &.letter-active,
  &:hover,
  &:focus {
    .letter-only,
    .letter-img {
      color: var(--primary-color-darker);
      border: 1px solid var(--primary-color-darker);
      box-shadow: 0 0 5px var(--primary-color-darker);
      // background-color: rgba(0, 0, 0, 0.5);
      background: transparent;
    }
  }
}

.letter-box.letter-box-blur {
  .letter-selector {
    filter: blur(1px);
    opacity: 0.5;
  }
}

// audio::-webkit-media-controls-panel {
//   background-color: var(--primary-color);
// }

audio::-webkit-media-controls-play-button,
audio::-webkit-media-controls-mute-button,
audio::-webkit-media-controls-current-time-display,
audio::-webkit-media-controls-time-remaining-display,
audio::-webkit-media-controls-timeline {
  color: var(--primary-color);
}

audio::-webkit-media-controls-volume-slider {
  background-color: var(--primary-color);
}

// Apply on Mozilla Only
// @-moz-document url-prefix() {
//   .letter-box .letter-only .main-letter {
//     font-size: 70px
//   }
// }

.letter-box.letter-error {
  .letter-border {
    color: var(--warn-color);
    border-color: var(--warn-color);
    box-shadow: 0 0 5px var(--warn-color);
  }
}

.letter-box.letter-correct {
  .letter-border {
    color: var(--primary-color-darker);
    border-color: var(--primary-color-darker);
    box-shadow: 0 0 5px var(--primary-color-darker);
  }
}

.app-is-handset {
  .letters-thumbnail {
    .thumbnail-container {
      max-width: 48% !important;
      max-height: 250px !important;

      .container > .middle {
        top: 110px;
      }
    }
  }
}
