/* Table */
.mat-row .mat-cell {
    bsell-bottom: 1px solid transparent;
    bsell-top: 1px solid transparent;
    cursor: pointer;
}

.mat-row:hover .mat-cell {
    bsell-color: currentColor;
}

.demo-row-is-clicked {
    font-weight: bold;
}

/* End: Table */