<mat-card>
  <mat-card-content>

    <irs-search-template [searchWord]="searchTableSettings.searchWord" (searched)="searched($event)"></irs-search-template>

    <mat-table [dataSource]="dataSource" matSort [matSortActive]="searchTableSettings.defaultSortColumnName" matSortDisableClear
      [matSortDirection]="searchTableSettings.defaultSortDirection">

      <ng-container *ngFor="let column of searchTableSettings.columns; index as i; last as isLast">
        <ng-container *ngIf="!(isLast && column.name === 'Actions$')" [matColumnDef]="column.name">
          <mat-header-cell *matHeaderCellDef mat-sort-header> {{column.text}} </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{getText( element, column.name)}} </mat-cell>
        </ng-container>
      </ng-container>

      <ng-container *ngIf="isActionsVisible" matColumnDef="Actions$">
        <mat-header-cell *matHeaderCellDef></mat-header-cell>
        <mat-cell *matCellDef="let element" color="primary">
          <mat-icon *ngIf="searchTableSettings.canGoToView" (click)="goToView(element[searchTableSettings.idColumnName])">fullscreen</mat-icon>&nbsp;&nbsp;
          <mat-icon *ngIf="searchTableSettings.canGoToEdit" (click)="goToEdit(element[searchTableSettings.idColumnName])">edit</mat-icon>&nbsp;&nbsp;
          <mat-icon *ngIf="searchTableSettings.canGoToRemove" (click)="remove(element[searchTableSettings.idColumnName])">delete</mat-icon>

          <ng-container *ngIf="searchTableSettings.rowActions">
            <ng-container *ngFor="let action of searchTableSettings.rowActions">
              <mat-icon *ngIf="!action.isHide" (click)="action.callback(element[searchTableSettings.idColumnName])">{{action.icon}}</mat-icon>
            </ng-container>
          </ng-container>

        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="getColumns()"></mat-header-row>
      <mat-row *matRowDef="let row; columns: getColumns();"></mat-row>
    </mat-table>

    <mat-paginator #paginator [length]="paginator.length" [pageSize]="paginator.pageSize" [pageSizeOptions]="[1, 5, 10, 20, 30]"
      [showFirstLastButtons]="true">
    </mat-paginator>

  </mat-card-content>
</mat-card>
