<mat-toolbar fxLayout="row" fxLayoutAlign="space-between center" class="lighter-toolbar">
    <div>Simple Order</div>
    <a type="button" routerLink="../" mat-button mat-raised-button>List</a>
</mat-toolbar>
<mat-card>
    <mat-card-content>
        <div>
            <irs-date [form]="form" name="orderDate" label="Order Date"></irs-date>

            <div class="form-container">
                <div class="form-row">
                    <!-- <app-select [form]="form" name="customerId" label="Select a customer" [options]="customers"
                        optTextLabel="customerName" optValueLabel="customerId" [hide]="false"
                        (onSelectionChange)="handleCustomerSelection($event)"></app-select> -->

                        <app-input [form]="form" label="Customer Name" name="customerName"></app-input>
                        <app-input [form]="form" label="Customer Phone Number" name="customerPhoneNumber"></app-input>

                    <app-select [form]="form" name="status" label="Select Status" [options]="statusOption"
                        optTextLabel="label" optValueLabel="value"></app-select>
                </div>
            </div>


            <div class="container" *ngFor="let orderItemForm of orderItemForms;  let i = index">
                <div class="row product-section">
                    <div class="item">
                        <app-input [form]="orderItemForm" label="Product Name" name="productName"></app-input>
                    </div>
                </div>
                <div class="row">
                    <div class="item">
                        <app-input [form]="orderItemForm" label="UnitPrice" name="unitPrice"></app-input>
                    </div>
                    <div class="item">
                        <app-input [form]="orderItemForm" label="Quantity" name="quantity"></app-input>
                    </div>
                    <div class="item">
                        <app-input [form]="orderItemForm" label="Discount" name="discount"></app-input>
                    </div>
                </div>
                <div class="row">

                    <div class="item">
                        <irs-input-template [model]="orderItemForm.value" [bindingPropertyName]="'subtotal'"
                            [label]="'Subtotal'" [viewOnly]="true">
                        </irs-input-template>
                    </div>
                    <div class="item">
                        <button mat-fab color="basic" aria-label="Example icon button with a delete icon"
                            (click)="deleteItem(i)">
                            <mat-icon>delete</mat-icon>
                        </button>
                    </div>
                </div>
            </div>

            <a type="button" (click)="addItem()" mat-button mat-raised-button>+ Add item</a>
            
            <div class="totals-row">
                <div class="total-amount-square">
                    Gross Amount<br>
                    {{ calculateNetAmount() | currency:'INR':'symbol':'1.2-2' }}
                </div>
                <div class="total-amount-square">
                    Total Discount<br>
                    {{ calculateTotalDiscount() | currency:'INR':'symbol':'1.2-2' }}
                </div>
                <div class="total-amount-square">
                    Total Amount<br>
                    {{ calculateTotalAmount() | currency:'INR':'symbol':'1.2-2' }}
                </div>
            </div>
            <div class="button-row">
                <a type="button" (click)="saveOrder()" mat-button mat-raised-button>Save</a>
                <a type="button" (click)="saveOrderPrint()" mat-button mat-raised-button>Save and print</a>
            </div>
            

            <!-- {{form.value | json}}
            <div *ngFor="let orderItemForm of orderItemForms">
                {{orderItemForm.value | json}}
            </div> -->
        </div>
    </mat-card-content>
</mat-card>