<mat-toolbar fxLayout="row" fxLayoutAlign="space-between center" class="lighter-toolbar">
    <div>{{ isEdit ? 'Update ': 'Add '}} customer</div>
    <a type="button" routerLink="../" mat-button mat-raised-button>List</a>
</mat-toolbar>

<mat-card>
    <mat-card-content>
        <div *ngIf="form">
            <form id="customerForm" [formGroup]="form" (submit)="saveProduct()">

                <app-input [form]="form" name="customerName"></app-input>
                <app-input [form]="form" name="phoneNumber"></app-input>
                <app-input [form]="form" name="email"></app-input>
                <app-input [form]="form" name="addressLine1"></app-input>
                <app-input [form]="form" name="pinCode"></app-input>
                <app-input [form]="form" name="state"></app-input>
                <app-input [form]="form" name="country"></app-input>
                <app-input [form]="form" name="addressLine2"></app-input>
                <app-radio [form]="form" name="isActive" [options]="[{Text: 'Yes', Value: true}, {Text: 'No', Value: false}]"></app-radio>

                <button mat-button mat-raised-button color="primary">Save</button>

                {{form.value | json}}
            </form>
        </div>
    </mat-card-content>
</mat-card>