<h2>Column Options</h2>
<p>
    Add or remove columns.
    <br />To change the column sell, drag and drop a field.
</p>

<mat-list cdkDropListGroup>
    <div mat-subheader>Include</div>
    <div class="option-fields" cdkDropList [cdkDropListData]="includes" (cdkDropListDropped)="drop($event)">
        <mat-list-item class="option-list" mat-line *ngFor="let item of includes" cdkDrag>{{item.text}}</mat-list-item>
    </div>
    <mat-divider></mat-divider>
    <div mat-subheader>Exclude</div>
    <div class="option-fields" cdkDropList [cdkDropListData]="excludes" (cdkDropListDropped)="drop($event)">
        <mat-list-item class="option-list" mat-line *ngFor="let item of excludes" cdkDrag>{{item.text}}</mat-list-item>
    </div>
</mat-list>
