#dashboard {
    // padding: 30px 0;
    margin: 2em 2em 1em 2em;
    /* top right bottom left */

}

.sub-title {
    font-size: 30px;
    font-weight: 500;
}

// .sale {
//     text-align: center;
// }

.sale-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 10px;
    margin-top: 20px;
    text-align: center;
}

.sale-list div {
    box-shadow: 1px 1px 2px #1c1e22,
        -1px -1px 2px #262a2e;
    padding: 10px;
    color: var(--color-body);
    transition: background 0.5s, transform 0.5s;
    // cursor: pointer;
}

.sale-list div i {
    font-size: 50px;
    margin-bottom: 30px;
}

.sale-list div h2 {
    font-size: 1em;
    line-height: 1.2em;
    font-weight: 500;
}

.sale-list div p {
    font-size: 2em;
    line-height: 1.2em;
    font-weight: 500;
    // margin-bottom: 15px;
}

// .sale-list div:hover {
//     color: var(--primary-color);
//     transform: translateY(-5px);
//     // background: linear-gradient(to right bottom, #202123, #1a1818);
// }

// .sale-list div:active {
//     color: var(--primary-color-darker);
// }