<mat-toolbar fxLayout="row" fxLayoutAlign="space-between center" class="lighter-toolbar">
  <div fxLayout="row" fxLayoutAlign="space-between center">
    <button class="flex-grow-0 transparent-button" type="button" aria-label="Toggle sidenav" mat-icon-button
      (click)="navigateBack()">
      <mat-icon aria-label="Side nav toggle icon">arrow_back</mat-icon>
    </button>
    <div>Export - Import - Delete</div>
  </div>
</mat-toolbar>

<app-export-data></app-export-data>

<div class="container">
  <div class="download-section">
    <h2>Import JSON Data</h2>
    <div fxLayout="row wrap" fxLayoutGap="10px grid" fxLayoutAlign=" center">
      <div>
        <input type="file" class="upload-box" (change)="onFileChange($event)" accept=".json" multiple />
      </div>
      <div>
        <button mat-raised-button (click)="uploadFiles()" color="primary"><mat-icon>upload_file</mat-icon>
          Import</button>
      </div>
    </div>
  </div>
</div>

<app-import-data></app-import-data>

<app-delete-data></app-delete-data>