<div class="container">
  <div class="download-section">
    <h2>Export product data</h2>
    <label for="startDate">Start Date:</label>
    <input type="date" id="startDate" [(ngModel)]="startDate">
    <label for="endDate">End Date:</label>
    <input type="date" id="endDate" [(ngModel)]="endDate">
    <button mat-raised-button (click)="exportProductDataByDate('product')">Export</button>
  </div>
  <div class="download-section">
    <h2>Export customer data</h2>
    <label for="startDate">Start Date:</label>
    <input type="date" id="startDate" [(ngModel)]="startDate">
    <label for="endDate">End Date:</label>
    <input type="date" id="endDate" [(ngModel)]="endDate">
    <button mat-raised-button (click)="exportCustomerDataByDate('customer')">Export</button>
  </div>
  <div class="download-section">
    <h2>Export order data</h2>
    <label for="startDate">Start Date:</label>
    <input type="date" id="startDate" [(ngModel)]="startDate">
    <label for="endDate">End Date:</label>
    <input type="date" id="endDate" [(ngModel)]="endDate">
    <button mat-raised-button (click)="exportOrderDataByDate('order')">Export</button>
  </div>
  Repeat similar sections for customer and order data
</div>

<div class="container">
    <div class="download-section">
      <h2>Export All product data</h2>
      <button mat-raised-button (click)="productData()">Export</button>
    </div>
    <div class="download-section">
      <h2>Export All customer data</h2>
      <button mat-raised-button (click)="customerData()">Export</button>
    </div>
    <div class="download-section">
      <h2>Export All order data</h2>
      <button mat-raised-button (click)="orderData()">Export</button>
    </div>
  </div>
  
  <div class="container">
    <div class="download-section">
        <h2>Import JSON Data</h2>
        <input type="file" (change)="onFileChange($event)" accept=".json" multiple />
        <button mat-raised-button (click)="uploadFiles()">Import</button>
    </div>
</div>




 