<mat-form-field *ngIf="control" [hintLabel]="hint" [hideRequiredMarker]="hideRequiredMarker">
  <mat-icon *ngIf="icon" matPrefix class="irs-input-icon">{{icon}}</mat-icon>
  <mat-label>{{label || control.label}}</mat-label>
  <input [type]="type" matInput [formControl]="control" (change)="valueChanged()" [attr.disabled]="control.disabled ? 'true': 'false'">

  <mat-hint *ngIf="hintEnd" align="end">{{hintEnd}}</mat-hint>

  <mat-error *ngIf="control.hasError('email')">
    Please enter a valid email address
  </mat-error>
  <mat-error *ngIf="control.hasError('required')">
    Please enter a <strong>value</strong>
  </mat-error>
  <mat-error *ngIf="control && control.hasError('minlength')">
    Minimum length is {{control.getError('minlength').requiredLength}}
  </mat-error>
  <mat-error *ngIf="control.hasError('maxlength')">
    Maximum length is {{control.getError('maxlength').requiredLength}}
  </mat-error>
  <mat-error *ngIf="control.hasError('matchOther')">
    Not Matching
  </mat-error>

  <!-- <irs-error [control]="control"></irs-error> -->
</mat-form-field>