<mat-form-field [hideRequiredMarker]="!isRequired" [floatLabel]="floatLabel" class="width100per">
  <mat-icon *ngIf="icon" matPrefix class="irs-input-icon">{{icon}}</mat-icon>

  <input matInput [placeholder]="label" [matDatepicker]="myDatepicker" [formControl]="control" [disabled]="isDisabled ? true : false">
  <mat-datepicker-toggle matSuffix [for]="myDatepicker"></mat-datepicker-toggle>
  <mat-datepicker #myDatepicker [disabled]="isDisabled"></mat-datepicker>

  <irs-error [control]="control"></irs-error>
</mat-form-field>