<div fxLayout="row" fxLayoutAlign="space-between center">
  <span>Etrivia Ledger</span>

  <span>

    <!-- <button mat-button [matMenuTriggerFor]="menu">
      {{institutionName}}
      <mat-icon>arrow_drop_down</mat-icon>
    </button> -->

    <!-- <mat-menu #menu="matMenu">
      <button *ngFor="let item of institutes$ | async" mat-menu-item (click)="changeInstitute(item.id)">{{item.name}}</button>
    </mat-menu> -->
    <div *ngIf="userInfo">
      <button mat-icon-button [matMenuTriggerFor]="menu" class="flex-grow-0 transparent-button">
        <div fxLayout="row" class="user">
          <p fxShow fxHide.xs>
            Hii&nbsp;{{userInfo?.firstName}}&nbsp; </p>
          <!-- <p>Hii&nbsp;HImAnshu&nbsp; </p> -->
          <img [src]="userInfo.photoUrl" referrerpolicy="no-referrer" class="user-avatar">
        </div>
      </button>

      <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="signOut()">
          <mat-icon>logout</mat-icon>
          <span class="text">Sign out</span>
        </button>
      </mat-menu>
    </div>
    <div *ngIf="!userInfo">
      <button mat-icon-button aria-label="Example icon-button with a menu" (click)="signIn()">
        <p>Sign in</p>
      </button>
    </div>
  </span>
</div>