button {
    background-color: transparent;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s;

    &:hover {
        background-color: rgba(255, 255, 255, 0.1);
    }

    &:active {
        background-color: rgba(255, 255, 255, 0.2);
    }
}

button mat-icon {
    color: white !important;
    font-size: 28px;
}

p {
    color: white !important;
}

.user {
    align-items: flex-end !important;
}

.user-avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-bottom: 10px;
}